#{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.farmcartTechie{
height:0%;
width: min-content;
}
.farmcart{
font-size: 4rem;
font-family: 'Lobster', cursive;
color:green;
}
.farmcart:hover{
color: rgb(0, 0, 0);
}
.nav-item{
padding-right: 40px;
margin-right: 10px;
margin-left: 10px;
color: black;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.nav-link:hover{
color:white;
}
#navbarSupportedContent{
font-weight: 400;
color:lawngreen;
}
.nav-link{
margin-right: 10px;
margin-left: 10px;
color: black;
font-family:'Times New Roman', Times, serif;
}
.nav-link:hover{
color:white;
}
.dropdown-menu{
background-color:white;
text-transform:inherit;
}
.dropdown-item{
font-size: 1rem;
font-family:'Times New Roman', Times, serif;
color:green;
}
.image-resize {
height:575px;
width:min-content;
}
.navbar-brand{
font-weight: 300;
color:black;
}

.card-body{
background-color: lavenderblush;
text-decoration-color:mintcream;
}