*{
    padding: 0;
    margin: 0;
    box-sizing:0;
}
.back{
    background-color: darkgreen;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    text-transform: uppercase;
}
.nav-link:hover{
    color:green;
}