#{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.farmcartTechie{
    height:0%;
    width: min-content;
}
#navbar{
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0.5);
    background-color:grey;
}
.farmcart{
    font-size: 4rem;
    font-family: 'Lobster', cursive;
    color:green;
}
.farmcart:hover{
    color: rgb(0, 0, 0);
}
.nav-link{
    padding-right: 40px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    text-transform: uppercase;
    background-color:lavender;
}
.nav-link:hover{
    color:green;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right:-35px;
    border: 2px solid burlywood;
}
.search:hover{
    color:brown;
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background:chartreuse;
    color:black;
    border-radius: 60px;
    font-weight: 700;
}
.dropdown-menu{
    background-color: black;
    text-transform: uppercase;
}
.dropdown-item{
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    color:green;
}
