body {
    background: rgb(21, 175, 47);
}

.form-control:focus {
    box-shadow: none;
    border-color: #34d141;
}

.profile-button {
    background: rgb(21, 175, 47);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #34d141;
}

.profile-button:focus {
    background: #34d141;
    box-shadow: none
}

.profile-button:active {
    background: #34d141;
    box-shadow: none
}

.back:hover {
    color: #34d141;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #34d141;
    color: #fff;
    cursor: pointer;
    border: solid 1px #34d141;
}