*{
    padding: 0;
    margin: 0;
    box-sizing:0;
}
.nav-item{
    color:blue;
    font-weight:400;
    background-color: brown;
}
.dropdown-menu{
    color:chartreuse;
}
.dropdown-item{
    color:chocolate;
    font-weight: 200;
    background-color: cornsilk;
}